portlets-app/logs
portlets-app/project/target
portlets-app/target
portlets-app/tmp
portlets-app/.history
portlets-app/dist
portlets-app/.idea
portlets-app/*.iml
portlets-app/out
portlets-app/.idea_modules
portlets-app/RUNNING_PID
portlets-app/.cache
portlets-app/*.log

portlets-app/.classpath
portlets-app/.project
portlets-app/.settings
portlets-app/bin/
portlets-app/.cache
portlets-app/.tmpBin
portlets-app/applet.policy

portlet-mobile-app/node-modules/
portlet-mobile-app/platforms/
portlet-mobile-app/plugins/
node_modules/
target/
dump.rdb
