
        <div class="container top-20">
          <div class="layout layout-main-right layout-stack-sm">
            <div class="col-md-3 col-sm-4 layout-sidebar">
              <div class="nav-layout-sidebar-skip"><strong>Tab Navigation</strong>/<a href="#settings-content">Skip to Content</a></div>
              <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
                <li class="active"><a href=".profile-tab" data-toggle="tab"><i class="fa fa-user"></i>Profile Settings</a></li>
                <li><a href=".password-tab" data-toggle="tab"><i class="fa fa-lock"></i>Change Password</a></li>
                <li><a href=".messaging" data-toggle="tab"><i class="fa fa-bullhorn"></i>Notifications</a></li>
                <li><a href=".payments" data-toggle="tab"><i class="fa fa-dollar"></i>Payment Settings</a></li>
                <li><a href=".reports" data-toggle="tab"><i class="fa fa-signal"></i>Configure Reports</a></li>
              </ul>
            </div>
            <!-- /.col-->
            <div class="col-md-9 col-sm-8 layout-main">
              <div id="settings-content" class="tab-content stacked-content">
                <div id="profile-tab" class="tab-pane fade in active profile-tab">
                  <h3 class="content-title">
                    <u>Edit Profile</u>
                  </h3>
                  <p ng-bind="portfolio.profileDescription"></p><br><br>
                  <form  class="form-horizontal">
                    <div class="form-group">
                      <label class="col-md-3">Avatar</label>
                      <div class="col-md-7">
                        <div data-provides="fileupload" class="fileupload fileupload-new">
                          <div style="width: 180px; height: 180px;" class="fileupload-new thumbnail"><img src="{{portfolio.profilePicture}}" alt="Profile Avatar"></div>
                          <div style="max-width: 200px; max-height: 200px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                          <div><span class="btn btn-default btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span>
                              <input type="file"></span><a href="#" data-dismiss="fileupload" class="btn btn-default fileupload-exists">Remove</a></div>
                          <!-- /div-->
                        </div>
                        <!-- /.fileupload-->
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <label class="col-md-3">Username</label>
                      <div class="col-md-7">
                        <input type="text" name="fullName" ng-model="portfolio.fullName" disabled="" class="form-control">
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <label class="col-md-3">First Name</label>
                      <div class="col-md-7">
                        <input type="text" name="preferredName" ng-model="portfolio.preferredName" class="form-control">
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <label class="col-md-3">Last Name</label>
                      <div class="col-md-7">
                        <input type="text" name="last-name" ng-model="portfolio.nameTitle" class="form-control">
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <label class="col-md-3">Email Address</label>
                      <div class="col-md-7">
                        <input type="text" name="email" ng-model="portfolio.email" class="form-control">
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <label class="col-md-3">Website</label>
                      <div class="col-md-7">
                        <input type="text" ng-model="portfolio.website"  name="website" placeholder="www.example.com" class="form-control">
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <label class="col-md-3">About You</label>
                      <div class="col-md-7">
                        <textarea id="about-textarea" name="about-you" ng-model="portfolio.profileDescription" rows="6" class="form-control"></textarea>
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <div class="col-md-7 col-md-push-3">
                        <button type="submit" class="btn btn-primary" ng-click="saveProfile()">Save Changes</button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                  </form>
                </div>
                <!-- /.tab-pane-->
                <div id="password-tab" class="tab-pane fade password-tab">
                  <h3 class="content-title">
                    <u>Change Password</u>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p><br><br>
                  <form action="./page-settings.html" class="form-horizontal">
                    <div class="form-group">
                      <label class="col-md-3">Old Password</label>
                      <div class="col-md-7">
                        <input type="password" name="old-password" class="form-control">
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <hr>
                    <div class="form-group">
                      <label class="col-md-3">New Password</label>
                      <div class="col-md-7">
                        <input type="password" name="new-password-1" class="form-control">
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <label class="col-md-3">New Password Confirm</label>
                      <div class="col-md-7">
                        <input type="password" name="new-password-2" class="form-control">
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <div class="col-md-7 col-md-push-3">
                        <button type="submit" class="btn btn-primary"  >Save Changes</button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                  </form>
                </div>
                <!-- /.tab-pane-->
                <div id="messaging" class="tab-pane fade messaging">
                  <h3 class="content-title">
                    <u>Notification Settings</u>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p><br><br>
                  <form action="./page-settings.html" class="form form-horizontal">
                    <div class="form-group">
                      <label class="col-md-3">Toggle Notifications</label>
                      <div class="col-md-7">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="" checked="">Send me security emails
                          </label>
                        </div>
                        <!-- /.checkbox-->
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="" checked="">Send system emails
                          </label>
                        </div>
                        <!-- /.checkbox-->
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Lorem ipsum dolor sit amet
                          </label>
                        </div>
                        <!-- /.checkbox-->
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Laborum, quam iure quibusdam
                          </label>
                        </div>
                        <!-- /.checkbox-->
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <label class="col-md-3">Email for Notifications</label>
                      <div class="col-md-7">
                        <select name="email_notifications" class="form-control">
                          <option value="1">john@mvpready.com</option>
                          <option value="2">mary@mvpready.com</option>
                          <option value="3">chris@mvpready.com</option>
                        </select>
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                    <div class="form-group">
                      <div class="col-md-7 col-md-push-3">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.form-group-->
                  </form>
                </div>
                <!-- /.tab-pane-->
                <div id="payments" class="payments tab-pane fade">
                  <h3 class="content-title">
                    <u>Payments Settings</u>
                  </h3>
                  <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney"s organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven"t heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                </div>
                <!-- /.tab-pane-->
                <div id="reports" class="reports tab-pane fade">
                  <h3 class="content-title">
                    <u>Reports Settings</u>
                  </h3>
                  <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney"s organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven"t heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                </div>
                <!-- /.tab-pane-->
              </div>
              <!-- /.tab-content-->
            </div>
            <!-- /.col-->
          </div>
          <!-- /.row-->
        </div>
        <!-- /.container-->
      </div>
      <!-- .content-->
