<div class="jumbotron mpt-pt-head mpt-gradient">
  <div class="container">
    <div class="row btm-20-60">
      <div class="col-xs-12">
        <h1 class="h1 light">Explore an exhilarating portfolio universe</h1>
        <p class="h5 bold">10 diverse sectors. Hundreds of amazing portlets.</p>
      </div>
    </div>
    <div class="row text-center">
      
      <div class="category-container col-xs-6 col-sm-3 col-md-15" ng-repeat="portlet in data">
        <div class="category-link"><a href="/discover/categories/Basic-Materials?ref=discover_index" class="category">
            <div class="category-name">
              <div class="h4" ng-bind="portlet.name"></div>
            </div>
            <div class="category-project-count">
              <div class="h4 bold" ><span ng-bind="portlet.total"></span> Portlets</div>
            </div></a></div>
      </div>      
    </div>
  </div>
</div>
<div class="row mpt-vprimary">
  <div class="container">
    <div class="col-xs-12">
      <div class="main clearfix">
        <form id="nl-form" class="nl-form">
          <select>
            <option value="1" selected="">Everything</option>
            <option ng-repeat="portlet in data"
            ng-bind="portlet.name"></option>
          </select> sorted by
          <select>
            <option value="1" selected="">popularity</option>
            <option value="2">returns</option>
            <option value="3">ratings</option>
            <option value="4">creation date</option>
          </select>
          <div class="nl-submit-wrap">
            <button type="submit" class="nl-submit">Filter</button>
          </div>
          <div class="nl-overlay"></div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="main" class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6" ng-repeat="portlet in portlets">
      <div class="panel panel-default mpt-portlet"><a href="./page-portlet.html" class="text-center mpt-portlet-color {{portlet.volatility}}"><span class="text-uppercase mpt-v3-text" ng-bind="portlet.volatility"></span><span class="mpt-returns" ng-bind="portlet.returns"></span><span></span> <span class="label label-skeleton">Followers <span ng-bind="portlet.followers"></span> </span></a>
        <div class="panel-heading mpt-portlet-heading clearfix"><img src="{{portlet.imageURL}}" class="img-circle">
        <strong ng-bind="portlet.creator"></strong><span class="pull-right">Last update: <span class="pull-right" ng-bind="portlet.lastUpdated"></span></div>
        <div class="panel-body mpt-portlet-body">
          <h3><a href="#" ng-bind="portlet.portletName"></a></h3> <p ng-bind="portlet.desc"> </p>
        </div>
        <div class="mpt-portlet-body"><a role="button" href="#/page-portlet" class="btn btn-link btn-block mpt-portlet-btn">VIEW MORE</a></div>
      </div>
    </div>
    <!-- /.end col-->
    
  </div>
  <!-- /.end row-->
</div>
<!-- /main-->
<div class="clearfix"></div>
<script>var nlform = new NLForm( document.getElementById( 'nl-form' ) );</script>