<div class="jumbotron mpt-pt-head mpt-gradient">
  <div class="container">
    <div class="row btm-20-60">
      <div class="col-xs-12">
        <h1 class="h1 light">Explore an exhilarating portfolio universe</h1>
        <p class="h5 bold">10 diverse sectors. Hundreds of amazing portlets.</p>
      </div>
    </div>
    <div class="row text-center">
      
      <div class="category-container col-xs-6 col-sm-3 col-md-15" ng-repeat="sector in sectors">
        <div class="category-link"><a href="/discover/categories/Basic-Materials?ref=discover_index" class="category">
            <div class="category-name">
              <div class="h4" ng-bind="sector.name"></div>
            </div>
            <div class="category-project-count">
              <div class="h4 bold" ><span ng-bind="sector.total"></span> Portlets</div>
            </div></a></div>
      </div>      
    </div>
  </div>
</div>
<button class='btn btn-primary' ng-click="loadNLForm()">load script</button>
<div class="row mpt-vprimary" >
  <div class="container">
    <div class="col-xs-12">
      <div class="main clearfix">
        <form id="nl-form" class="nl-form"> 
          <select>
              <option value="">Please Select</option>
              <option value = "{{sector.id}}" ng-repeat=" sector in sectors track by $index ">{{sector.name}}</option>
          </select> sorted by
          <select ng-model="sorter">
            <option value="name" selected="">name</option>
            <option value="notes">notes</option>
            <option value="3">ratings</option>
            <option value="4">creation date</option>
          </select>
          <div class="nl-submit-wrap">
            <button type="submit" class="nl-submit">Filter</button>
          </div>
          <div class="nl-overlay"></div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="main" class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6" ng-repeat="portlet in portlets | orderBy : sorter">
      <div class="panel panel-default mpt-portlet">
        <a href="./page-portlet.html" class="text-center mpt-portlet-color {{portlet.volatilityClass}}">
          <span class="{{portlet.volatilityClass}}">
            <span class="text-capitalize " ng-bind="portlet.volatilityClass"></span>   Volatility 
          </span> 
          <span class="mpt-returns"><span ng-bind="portlet.totalReturn"></span>%</span>
          <span class="label label-skeleton">Followers <span ng-bind="portlet.followerCount"></span> </span>
        </a>
        <div class="panel-heading mpt-portlet-heading clearfix"><img src="{{portlet.owner.profilePicture}}" class="img-circle">
        <strong ng-bind="portlet.owner.fullName"></strong><span class="pull-right">Last update: <span class="pull-right" ng-bind="portlet.lastRebalancedOn"></span></div>
        <div class="panel-body mpt-portlet-body">
          <h3><a href="#" ng-bind="portlet.name"></a></h3> <p ng-bind="portlet.notes"> </p>
        </div>
        <div class="mpt-portlet-body"><a role="button" ng-click="viewMore(portlet.id)" class="btn btn-link btn-block mpt-portlet-btn">VIEW MORE</a></div>
      </div>
    </div>
    <!-- /.end col-->
    
  </div>
  <!-- /.end row-->
</div>
<!-- /main-->
<div class="clearfix"></div>

