/* PageWise less asdfasf*/
@white:#ffffff;
@reddish:#f98970;
@tenpx:10px;
@fiftypx:50px;
@onetwentypx:80px;
@seventypx:70px;
@x:150px;

.sidemenu-bg{
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#5188b1, endColorstr=#ae676d);
	background-image:-moz-linear-gradient(left, #5188b1 26%, #ae676d 92%);
	background-image:-webkit-linear-gradient(left, #5188b1 26%, #ae676d 92%);
	background-image:-ms-linear-gradient(left, #5188b1 26%, #ae676d 92%);
	background-image:linear-gradient(left, #5188b1 26%, #ae676d 92%);
	background-image:-o-linear-gradient(left, #5188b1 26%, #ae676d 92%);
	background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(26%,#5188b1), color-stop(92%,#ae676d));
	padding:0px;
	background-repeat:inherit !important;


}
#sidemenu-search{
	input[type="text"]{
			background-color: none
			color: white;
			padding: 10px;
			border:1px;
		}	
		::-webkit-input-placeholder { color:white }
	::-moz-placeholder { color:white } /* firefox 19+ */
	:-ms-input-placeholder { color:white} /* ie */
	input:-moz-placeholder { color:white }


}

.sid-search{
	background-color:transparent  !important;
	color :white !important;
}

#sd{
	padding:8px;
	color:@white;
	border-style:none;
	text-shadow:none;
	margin:0px !important;


}
.plus-icon{
	position: relative;
    top: 30px; 
    right: 30px;	
  
    
}

.item-complex .item-content, .item-radio .item-content{
  position: relative;
  z-index: 2;
  padding: 8px 8px 8px 8px;
  border: none;
  background-color: transparent;
  border:0px;
  border-color:transparent;
  border-style:none;
}



.transparent{
	background-color:transparent !important;
}

.menu-btn-padd{
	margin-left:-30px;
}

.colwd{
	width:48%;
	height:79px;
	padding-right: 1px !important;
  	padding-left: 1px !important;
}
.content{
	padding-top: 0px;	
}

.twe{
	 font-size:100%;
}

.seventypx{
	font-size:@seventypx;
}


.white-color{
	color:@white;
}

.portlet-bg{
	background-color: @reddish !important;
}

.text-inline{
	display:inline;
}

.text-inline-padding{
	display:inline;
	padding:@tenpx;
}

.text-alignment{
	text-align: justify ; 
	text-justify: inter-word  ;

}

.img-align{
	width:@fiftypx;
	height:@fiftypx;
	position:center;

}


.col-leng{
	width:@onetwentypx;
}
.text-overflow{
	 overflow: hidden;
}

.table-style{
	table-layout: fixed;
}