<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<html ng-app="portlets">
  <head>
    <meta charset="utf-8">
    <meta name="viewport&quot; content=&quot;width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Google Font: Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,700">
    <link rel="stylesheet" href="@routes.Assets.at("bower_components/fontawesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/mvpready-admin-myportlets.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/mvpready-flat.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/volatility.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/custom.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.ico">

    <title>MyPortlets</title>
  </head>
  <body>
    <div id="wrapper">
      <header role="banner" class="navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><i class="fa fa-cog"></i></button><a href="./" class="navbar-brand page-scroll"><i class="mpt-myportlets"></i><span class="light">my</span>portlets</a>
          </div>
          <!-- /.navbar-header-->
          <nav role="navigation" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="./account-signup.html">Sign up</a></li>
              <li><a href="./account-login-social.html">Log in</a></li>
            </ul>
          </nav>
        </div>
        <!-- /.container-->
      </header>
      <div class="content top-60"></div>
      <div id="main" class="account-wrapper top-60">
        <div class="account-body">
          <h3>Get Started with a Free Account.</h3>
          <h5>Sign up in 30 seconds. No credit card required.</h5>
          <div class="row">
            <div class="col-sm-6"><a href="javascript:;" class="btn btn-twitter btn-block"><i class="fa fa-twitter"></i> Signup with Twitter</a></div>
            <!-- /.col-->
            <div class="col-sm-6"><a href="javascript:;" class="btn btn-facebook btn-block"><i class="fa fa-facebook"></i> Signup with Facebook</a></div>
            <!-- /.col-->
          </div>
          <!-- /.row-->
          <form method="POST" action="http://localhost:9000/newuser" class="form account-form">
            <div class="form-group">
              <label for="signup-email" class="placeholder-hidden">Email Address</label>
              <input id="email" name="email" type="text" placeholder="Your Email" tabindex="1" class="form-control">
            </div>
            <!-- /.form-group-->
            <div class="form-group">
              <label for="signup-fullname" class="placeholder-hidden">Your Name</label>
              <input name="fullname" id="fullname" type="text" placeholder="Your Name" tabindex="2" class="form-control">
            </div>
            <!-- /.form-group-->
            <div class="form-group">
              <label for="signup-username" class="placeholder-hidden">Username</label>
              <input id="signup-username" type="text" placeholder="Username" tabindex="3" class="form-control">
            </div>
            <!-- /.form-group-->
            <div class="form-group">
              <label for="login-password" class="placeholder-hidden">Password</label>
              <input id="login-password" type="password" placeholder="Password" tabindex="4" class="form-control">
            </div>
            <!-- /.form-group-->
            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" value="" tabindex="5">I agree to the<a href="javascript:;" target="_blank">Terms of Service</a>&#38;<a href="javascript:;" target="_blank">Privacy Policy</a>
              </label>
            </div>
            <!-- /.form-group-->
            <div class="form-group">
              <button type="submit" tabindex="6" class="btn btn-secondary btn-block btn-lg">Create My Account <i class="fa fa-play-circle"></i></button>
            </div>
            <!-- /.form-group-->
          </form>
        </div>
        <!-- /.account-body-->
        <div class="account-footer">
          <p>Already have an account?<a href="./account-login-social.html">Login to your Account!</a></p>
        </div>
        <!-- /.account-footer-->
      </div>
      <!-- /.account-wrapper-->
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-3"></div>
          <div class="col-xs-6 col-sm-2">
            <h4>DISCOVER</h4>
            <ul class="list-unstyled list-menu">
              <li><a href="/" target="_blank">Home</a></li>
              <li><a href="/billionaires/" target="_blank">Discover</a></li>
              <li><a href="/dashboard/" target="_blank">Create</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-2">
            <h4>LEGAL</h4>
          </div>
          <div class="col-xs-6 col-sm-2">
            <h4>ABOUT</h4>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h4>PRODUCTS</h4>
          </div>
        </div>
        <div class="row">
          <p class="pull-left">Copyright &copy; Finlytics Pte Ltd.</p>
        </div>
      </div>
    </footer>
    <!--
    Bootstrap core JavaScript
    ================================================== 
    -->
    <!-- Core JS-->
    <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"></script>
    <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script><!--[if lt IE 9]>
    <script src="./js/libs/excanvas.compiled.js"></script>
    <![endif]-->
    <!-- App JS-->
     <script src="@routes.Assets.at("javascripts/mvpready-core.js")"></script>
    <script src="@routes.Assets.at("javascripts/mvpready-admin.js")"></script>
  </body>
</html>