@(user: models.User, portletId: Long)

@main(user) {
<script src='@routes.Assets.at("javascripts/stocksInPortlet.js?portletId="+portletId)' type="text/javascript"></script>
<h1>Stocks In Portlet</h1>
<ul id="list"></ul>
<h3>Add Stock to Portlet</h3>
<form action="@routes.Application.addStockToPortlet()" method="post" >
	<select id="portlet" name="portlet"></select>
	<input placeholder="Stock" name="stock" />
	<input placeholder="Weightage" name="weightage" />
	<input type="submit" value="Add" />
</form>
}
