table.dataTable thead th, table.dataTable thead td {
  padding: 0px 0px;
  border-bottom: 1px solid #111111;
}

.container{
	width: 90%;
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
}