
.Very-High{
	background-color: #3d85c4;
	color: #152E44;
}

.High{
	background-color: #2fa8ec;
	color: #164765;
}

.Medium{	
	background-color: #A3AEAE;
	color: #676E6E;
}

.Moderate{
	background-color: #f98970;
	color: #794337;
}

.Low{
	background-color: #ea5656;
	color: #6A2727;
}

