.top-header
  br
  .top-header-div
    h3 myportlets
    p
      | Create and invest in an idea or trend
      br
      | Build your own diversed portfolio of portlets
    a(href='#/').sign-up-link SIGNUP
    a(href='#/login').login-link LOGIN

