
<!--
Bootstrap core JavaScript
==================================================
-->
<!-- Core JS-->
<script src="./js/lib/libs/jquery-1.10.2.min.js"></script>
<script src="./js/lib/libs/bootstrap.min.js"></script>
<!--if lt IE 9script(src='./js/lib/libs/excanvas.compiled.js')
-->
<!-- App JS-->
<script src="./js/lib/mvpready-core.js"></script>
<script src="./js/lib/mvpready-admin.js"></script>
<script src="./js/lib/mvpready-admin.js"></script>
<script src="./lib/angular/angular.js"></script>
<script src="./lib/angular-route/angular-route.js"></script>
<script src="./lib/angular-animate/angular-animate.js"></script>
<script src="./js/main.js"></script>
<!--script(src='./js/finlytics-router.js')-->
<script src="./js/finlytics-controller.js"></script>
<script src="./js/controllers/Sign-upController.js"></script>
<script src="./js/controllers/LoginController.js"></script>
<script src="./js/controllers/RecPasswordController.js"></script>
<script src="./js/controllers/PortletCreateCtrl.js"></script>
<script src="./js/controllers/SideMenuCtrl.js"></script>
<script src="./js/controllers/PortfolioController.js"></script>
<script src="./js/controllers/PageExploreController.js"></script>
<script src="./js/lib/libs/angular-input-match.min.js"></script>
<!--script(src='./js/lib/formValidators/formValidation.js')-->
<!--script(src='./js/lib/formValidators/bootstrap.js')-->
<!--script(src='./js/signUpValidate.js')-->
<!--script(src='./js/loginValidate.js')-->
<script src="./lib/ionic/js/ionic.bundle.js"></script>
<script src="cordova.js"></script>