//
  Bootstrap core JavaScript
  ==================================================
// Core JS
script(src='./js/lib/libs/jquery-1.10.2.min.js')
script(src='./js/lib/libs/bootstrap.min.js')
//if lt IE 9
  script(src='./js/lib/libs/excanvas.compiled.js')
// App JS
script(src='./js/lib/mvpready-core.js')
script(src='./js/lib/mvpready-admin.js')
script(src='./js/lib/mvpready-admin.js')
script(src='./lib/angular/angular.js')
script(src='./lib/angular-route/angular-route.js')
script(src='./lib/angular-animate/angular-animate.js')
script(src='./js/main.js')

//script(src='./js/finlytics-router.js')
script(src='./js/finlytics-controller.js')
script(src='./js/controllers/Sign-upController.js')
script(src='./js/controllers/LoginController.js')
script(src='./js/controllers/RecPasswordController.js')
script(src='./js/controllers/PortletCreateCtrl.js')
script(src='./js/controllers/SideMenuCtrl.js')

script(src='./js/lib/libs/angular-input-match.min.js')
//script(src='./js/lib/formValidators/formValidation.js')
//script(src='./js/lib/formValidators/bootstrap.js')
//script(src='./js/signUpValidate.js')
//script(src='./js/loginValidate.js')
script(src='./lib/ionic/js/ionic.bundle.js')
script(src='cordova.js')
