ion-view(view-title='Login', name='login-view', ng-controller='LoginController')
  ion-content.padding
    include header.jade
    include social-login.jade
    .list.list-inset
      label.item.item-input
        input(type='email', placeholder='Enter your Email-Id', ng-model='data.email' required='')
      label.item.item-input
        input(type='password', placeholder='Enter Password', ng-model='data.password')
      li.item.item-checkbox
        label.checkbox
          input(type='checkbox')
        | Remember me
    .pull-right
      small
        a(href='#/pwd-recovery') <u>Forgot Password?</u>
    br
    button.button.button-block.button-balanced(ng-click='login()')
      | Login &nbsp;
      i.fa.fa-play-circle
    p(align='center')
      | Don&quot;t have an account?<br>
      a(href='#/app/portlet-create') Create an Account!
//script(src='./js/loginValidate.js')

