.content.top-60  
    #main.container
      .error-container.top-60
        .error-code 404
        // /.error-code
        .error-details
          h4
            | Oops,
            span.text-primary You&quot;re lost
            | .
          |             
          p
            | We can not find the page you&quot;re looking for. Is there a typo in the url? Or try the search bar below
          |             
          form.form(action='./page-404.html')
            .input-group
              input.form-control(type='text', placeholder='Search...')
              span.input-group-btn
                button.btn.btn-secondary(type='button')
                  i.fa.fa-search
            // /input-group
        // /.error-details
      // /.error

//- .content.top-60      
//-   #main.container
//-     .error-container.top-60
//-       .error-code 404
//-       // /.error-code
//-       .error-details
//-         h4
//-           | Oops,
//-           span.text-primary You&quot;re lost
//-         p
//-            We can not find the page you&quot;re looking for. Is there a typo in the url? Or try the search bar below
//-         form.form(action='./page-404.html')
//-           .input-group
//-             input.form-control(type='text', placeholder='Search...')
//-             span.input-group-btn
//-               button.btn.btn-secondary(type='button')
//-                 i.fa.fa-search
//-           // /input-group
//-       // /.error-details
//-     // /.error
