<ion-view view-title="Discover" name="discover-view" ng-controller="PageExploreCtrl">
  <ion-content >
    <div class="portfolio-bg">
       <div  class="row">
        <div  style="margin-left:90px" class="col">
          <a id="add-portfolio" href="#" class="ion-ios-plus-outline button pull-right"></a> 
          <h4 align="center" class='page-text'>Discover</h4>
        </div>
      </div>
      <div>
        <div class="row " style="margin-left:1px;">
          <div class="col-xs-12">
            <h4 class="white-color">SECTORS</h4>
          </div>
        </div>            
        <div class="page-font text-center">
              <div  ng-repeat="sector in sectors"  class="category-container colwd col-xs-5 col-sm-2 col-md-2">
                <div class="category-link"><a href="/discover/categories/Basic-Materials?ref=discover_index" class="category">
                    <div class="category-name">
                      <div class="h4" ng-bind="sector.name"></div>
                    </div>
                    <div class="category-project-count">
                      <div class="h4 bold"> <span class="h4 bold"><span ng-bind="sector.total"></span> Portlets </span> </div>
                    </div></a></div>
              </div>
        </div>
        
            <div  class="table-striped" >
            
            <table  class="table white-color"   >
              <tr>
                <td align="center"  >
                  <a class="white-color" href="#">Show All <span class="pull-right icon-right ion-chevron-right"></span> </a>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <a class="white-color" href="#">Top Performing <span class="pull-right icon-right ion-chevron-right"></span> </a>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <a class="white-color" href="#">Newly Added <span class="pull-right icon-right ion-chevron-right"></span> </a>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
          </table>
          </div>    
        </div>
    </div>
    <div id="main" class="myfont">

      <div class="row padding">
        <div class="col-xs-12">
              <h4>TRENDING PORTLETS</h4>
        </div>
      </div>
      <div ng-repeat="portlet in portlets" class="col-md-3 col-sm-2">
        <div class="panel panel-default mpt-portlet"><a href="./page-portlet.html" class="text-center mpt-portlet-color {{portlet.volatility}}"><span style="text-transform: capitalize;">{{portlet.volatility}} Volatility</span><span class="mpt-returns" ng-bind="portlet.returns"></span><span><span ng-bind="portlet.followers" ></span> Followers</span></a>        
          <div class="panel-body mpt-portlet-body">
            <h5><a href="#" ng-bind="portlet.portletName" ></a></h5>
            <h5 ng-bind="portlet.desc"></h5>  
          </div>
        </div>
      </div>
      </div>
  </ion-content>
</ion-view>