ion-view(view-title='Portlet-create', name='Portlet-create', ng-controller='PortletCreateCtrl')
  ion-content.padding#portlet-create        
    row
      span.input-label.col.col-90 Portlet Name
      input.col.col-75(type='text', placeholder='Portlet Name')

      span.input-label.col.col-90 Short Description
      textarea.col.col-75(placeholder='Short Description', rows='4')

