<ion-view view-title="Portfolio" name="portfolio-view" ng-controller="PortfolioCtrl">
  <ion-content class="portfolio-bg">
    <div class="row">
      <div   class="col-90  toggle-bar">
        <a id="add-portfolio"  menu-toggle="left" href="#" class="ion-navicon pull-left menu-btn-padd"></a>
        <a id="add-portfolio" align="center" style="min-width:0px;padding:0px;" href="#" class="ion-ios-plus-outline button pull-right"></a> 
        <h4  align="center" class='page-text'>Portfolio</h4>
      </div>
    </div>
        <div class="container page-text">
          <h1 align="center"> <span ng-bind="portfolio.totalReturn"></span>%</h1>
          <div ><center><h5 style="display:inline;padding-right:5px;font-family:sans-serif;">1D: <span ng-bind="portfolio.dailyReturn"></span>%</h5>
          <h5 style="padding-left:5px;display:inline;font-family:sans-serif;">1Y: <span ng-bind="portfolio.annualReturn"></span>%</h5></center></div>
        </div>
         <h4 class="panel-heading page-text">Portfolio Perfomance (%)</h4>
          <div class="panel-body">
            <div id="profile-chart" class="chart-holder-300"></div>
          </div> 
          <div  style="margin-top:50x">
          <div>
            <div class="table-striped">
              <table class="table">
                <thead class="page-text">
                  <tr>
                    <th>Stock</th>
                    <th>Total</th>
                    <th>Daily</th>
                    <th>1-Year</th>
                  </tr>
                </thead>
                <tbody style="color:white">
                  <tr ng-repeat= "portlet in portlets">
                    <td><a style="color:#ffffff" href="#/app/portlet" ng-bind="portlet.name"></a></td>
                    <td><span ng-bind="portlet.totalReturn"></span>%</td>
                    <td><span ng-bind="portlet.dailyReturn"></span>%</td>
                    <td><span ng-bind="portlet.annualReturn"></span>%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>     
    </div>
  </ion-content>
</ion-view>