
ion-view(view-title='Portfolio', name='portfolio-view', ng-controller='PortfolioCtrl')
	ion-content.padding
		.jumbotron.mpt-pt-head.mpt-gradient.top-60
			.container
				h1.h1.light(align="center") Portfolio
					h1(align="center") 25.9
					h6 26  
						h6 89

