
<ion-view view-title="Portlet-create" name="Portlet-create">
  <ion-content class="portfolio-bg ">
    <div ng-controller="PortletCreateCtrl">
    	<div style="background: rgba(255,255,255,0.15);">
        <div class="row">
      		<div class="col-90 toggle-bar">
          <a id="add-portfolio"  href="#/app/portlet-create" class="pull-left menu-btn-padd"><h4>Back</h4></a>
      		<a href="#/app/portlet-create3" ng-click="setSelectedStocks()" class="pull-right"><h4> Done</h4></a>	
      		<h4 align="center" class="page-text">Add Stocks</h4>
      		</div>
      	</div>
        
          
            <select  style="background-color:transparent;" id="stockExchange.name" ng-disabled="isDisabled" ng-change="getStocks()" ng-model="stockExchangeName" name="stockExchange" data-required="true" class="form-control parsley-validated">
              <!-- <select style="background-color:transparent;"  name="stockExchange" data-required="true" class="form-control" ng-model="model"> -->
                  <option value="">Please Select</option>
                      <option ng-repeat=" stockexchange in stockExchanges " value = "{{stockexchange.name}}" >{{stockexchange.name}}</option>
              </select>
              
            
          
        
        <div class="padding">
        	<label class="item item-input search " >
        		  <i class="icon ion-search placeholder-icon"></i>
        		  <input style="color: grey;  padding-bottom: 2px; " ng-model="search" type="search" placeholder="Search">
          </label>
        </div>
      </div>
      <div class="table-striped">
          <table class="table table-content" style="margin-top:20px">
              <tr ng-repeat="stock in stocks  | filter : search ">
                <td ng-bind="stock.name"></td>
                <td ng-bind="stock.symbol"></td>
                <td ><button ng-click="addStock(stock)" style="background: transparent; border: 1px solid #ffffff;border-radius: 5px;" type="button" class="ion-plus"></button></td>
              </tr>
          </table>
      </div>
    </div>