<style type="text/css">
  .weightage{
    display:inline;
    margin-right:45%;
    text-align:right;
    
     border-color:white;
      
  }

</style>
<ion-view view-title="Portlet-create" name="Portlet-create" >
  <ion-content class="portfolio-bg">
  <div ng-controller="PortletCreateCtrl">
  	<div class="row">
      <div align="center" class="col-90 toggle-bar">
      <a id="add-portfolio"  href="#/app/portlet-create3" class="pull-left menu-btn-padd"><h4>Back</h4></a>
      <a href="#" class="pull-right" ng-click="addPortlet() "><h4>Create</h4></a> 
      <h4 align="center" class='page-text'>Create Portlet</h4>
      </div>
    </div>
    
      <div class="row">
        <div align="center" class="col-xs-12 col-md-12">
  		      <a id="add-stock" href="#/app/portlet-create3" class="ion-ios-plus-outline button"></a>
            <a id="add-stock" style="margin-left:-20px;font-size:16px;" href="#/app/portlet-create2" class="button">Add Stocks</a>
        </div>
      </div>
  			
      <div class="row" >
        <h5 style="margin-left:4%;display:inline;">Stocks</h5>
        <h5 style="margin-left:48%;diplay:inline">Weightage</h5>
      </div>
      <hr style="margin:0px;">    

     <div>
      
     
        <table class = "table">
        <tr ng-repeat="selectedStock in portlet.stocks track by $index">
          <td ng-bind="selectedStock.name"> </td> <td><input class="weightage" style="border-radius: 5px;
     border-style: solid; background-color:transparent;" size='5' type="text" ng-model="selectedStock.weightage" ng-change="setWeightage(selectedStock.name , selectedStock.weightage)" > </td> <td> <button type="button" ng-click="deleteStock(selectedStock.name)" class="btn btn-sm btn-danger" >Delete</button> </td>   
        </tr>
        </table>
        </ion-item>
      </ion-list>
      </div>
      </div> 
  </ion-content>
  <ion-footer-bar style="background-repeat:repeat;background-size:100%;border-top:1px solid white;" class="portfolio-bg">
    <div class="row">
        <div class="col-xs-7 col-md-10" style="margin:0px;"><h4  style="margin:0px;">Available Weightage:</h4></div>
        <div class="col-xs-5 col-md-5"><h4 style="margin:0px;">{{availableWeightage}}%</h4></div>
    </div>  
  </ion-footer-bar>
</ion-view>