<ion-view view-title="Portlet" name="portlet-view" ng-controller="PortletCtrl">
    <ion-content class="portlet-bg myfont ">
    <div class="row">
      <div class="col-90 toggle-bar">
        <a id="add-portfolio"   menu-toggle="left" href="#" class="ion-navicon pull-left menu-btn-padd"></a>
        <a id="add-portfolio"  href="#" class="pull-right ion-ios-upload-outline "></a> 
       <h4 align="center" class="page-text" ng-bind="portlet.name"></h4>
      </div>
    </div> 
        <div class="content  {{portlet.volatilityClass}}">
            <div style="padding:0px;" class="jumbotron mpt-pt-head  portlet-bg ">
                <div class="container">
                    <div class="row">
                        <div  class="col-xs-12 col-sm-12 col-md-12">
                                <div class="row">
                                   <div class="col-xs-12 mpt-performance"></div>
                                </div>
                                <div class="row white-color" >
                                  <div class="col-xs-12 ">
                                   <span>Since Inception</span>
                                   </div>
                                </div>
                                <div  class="row white-color">
                                  <div class="col-xs-12 ">
                                     <h1> <span ng-bind="portlet.totalReturn"></span>% </h1>
                                  </div>
                                </div>
                                <div  class="row white-color">
                                   <div class="col-xs-5 col-sm-4 col-md-2 ">
                                      <div>
                                        <span>Daily Return
                                        <h3 style="size:50px"><span ng-bind="portlet.dailyReturn"></span> %</h3></span>
                                      </div>
                                   </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2">
                                      <span>1Y Return
                                      <h3 style="size:50px"><span ng-bind="portlet.annualReturn"></span>%</h3></span>  
                                    </div>
                                </div>   
                                <div class="row">
                                  <div  class="col-xs-12 col-sm-12 col-md-9" style="text-transform :capitalize;" ><h5><span ng-bind="portlet.volatilityClass"></span> Volatility</h5></span>
                                  </div>
                                </div>
                          </div>  
                    </div>
                    
                    <div >
                        <div class="userbox portlet-bg">
                            <h3 >Portfolio Perfomance (%)</h3>
                            <div class="panel-body">
                                <div id="portlet-graph" class="chart-holder-300"></div>
                            </div>
                              
                            <div  class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 ">

                                <div class="btn-group btn-group-justified " data-toggle=
                                "buttons">
                                    <label class="btn   " id=
                                    "lastdayninetynine"><input autocomplete="off" id=
                                    "lastdayninetynine" name="options" type=
                                    "radio">1W</label> <label class="btn "
                                    id="lastweekninetynine"><input autocomplete="off"
                                    id="lastweekninetynine" name="options" type=
                                    "radio">1M</label> <label class="btn  "
                                    id="latenineties"><input autocomplete="off" id=
                                    "latenineties" name="options" type=
                                    "radio">3M</label> <label class="btn "
                                    id="ninetyninequarters"><input autocomplete="off"
                                    id="ninetyninequarters" name="options" type=
                                    "radio">6M</label> <label class="btn "
                                    id="oneyear"><input autocomplete="off" checked id=
                                    "ninetynine" name="options" type="radio">1Y</label>
                                    <label class="btn active " id=
                                    "whole"><input autocomplete="off" id="whole" name=
                                    "options" type="radio">3Y</label>
                                </div>
                            </div><!-- /.line-graph-body-->
                        </div><!-- /.portlet-->
                    </div><!-- /.row-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                        <h5  class="text-inline white-color">Created Since : <span>{{portlet.createdOn | date :"yyyy.MM.dd"}}</span></h5>
                        <h5  class="text-inline-padding white-color">Followers : <span ng-bind="portlet.followerCount"></span></h5>
                        </div>
                    </div>
                </div><!-- /.container-->
            </div>
            </div>  
            <div class="container" style="color:black;background-color:white;"  id="main">
                <div class="row">
                    <div class="col-xs-8 col-sm-10 col-md-10">
                        <h4>DESCRIPTION</h4>
                        <p class="text-alignment" ng-bind="portlet.notes"></p>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-3">
                        <center>
                        <p>{{portlet.profilePicture}}</p>
                        <h4 class="twe" >CREATED BY</h4><img class="img-circle" src="{{portlet.owner.profilePicture}}" style="width:50px; height:50px; position:center;" alt="{{portlet.profilePicture}}">
                        <figcaption ng-bind="portlet.owner.fullName">
                            
                        </figcaption><br>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>STOCKS AND DETAILS</h4>
                    </div>
                </div>
                <div class="table-striped">
                    <table class="table table-styles">
                        <thead>
                            <tr>
                                <th>COMPANY</th>
                                <th class="col-leng" >WEIGHT</th>
                                <th  class="col-lang" >RETURN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stock in stocks">
                                <td> <span ng-bind="stock.stats.stock.name"> </span></td>
                                <td> <span ng-bind="stock.weight"> </span>%</td>
                                <td> <span ng-bind="stock.return"> </span>%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
    </ion-content>
    <ion-footer-bar align="center" style="border-top:1px solid #858585;padding:0px;"  class="bar myfont    ">
        <a href="#" style="width:50%;padding-top:15px; border-right: 1px solid #858585;color: #858585;">Follow</a>
        <a align="center" style="color:#858585;width:50%;padding-top:15px;" href="">Copy</a>
    </ion-footer-bar>
</ion-view>