ion-view(view-title='Recover-Password', name='fp-view', ng-controller='RecPasswordController')
  ion-content.padding
    include header.jade
    h4(align='center') Reset Password
    h5(align='center') We"ll email you instructions on how to reset your password.
    .list
      label.item.item-input
        span.input-label Email
        input(type='email', placeholder='i.e. xyz@ab.com', ng-model='data.email')
    button.button.button-block.button-balanced(ng-click='recPass()')
      | Reset Password &nbsp;
      i.fa.fa-play-circle
    a(href='#/login')
      i.fa.fa-angle-double-left
      | Back to Login
