button.button.button-block.button-positive
  i.fa.fa-facebook.pull-left.social-btn-fb
  |  Sign up with Facebook
button.button.button-block.button-calm
  i.fa.fa-twitter.pull-left.social-btn-tw
  |  Sign up with Twitter
br
p(align='center') or
