button.button.button-block.button-positive
  i.fa.fa-facebook.pull-left.social-btn-fb
  |  Login with Facebook
button.button.button-block.button-calm
  i.fa.fa-twitter.pull-left.social-btn-tw
  |  Login with Twitter
p(align='center') or
