doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js(lang='en')
  // <![endif]
  html(ng-app="finlytics")(ng-controller='InitController')
    head
      include views/css.jade
    body#wrapper
      ion-nav-view
      include views/js.jade

